$primary-color: #1c87eb;
$primary-color-active: #2c70d8;

$second-color: #43c071;

$third-color: #bcdffe;

$fourth-color: #ff3f3f;

$primary-color-text: #1c87eb;
$second-color-text: #c6e1fa;

$primary-color-bg: #378cd3;
$second-color-bg: #ecf5ff;
$third-color-bg: #006bd0;

$primary-color-border: #1c87eb;

$menu-top: #1c87eb;

$router-view-color-bg: #b7c8ce;

$aside-background_dark: red;
