@import '@/styles/Color.scss';
@import '@/styles/basics.scss';

#layoutHistory {
  .menu-total {
    margin-top: 5px;
    cursor: pointer;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    background: #cb7319;
  }
  .box-history {
    margin-left: -20px;
    margin-right: -20px;
    width: 100%;
    background: #98c6ec;
    border-top: 1px solid $border-color;
    &::after {
      content: "";
      right: 0;
      top: 0;
      pointer-events: none;
    }
    position: absolute;

  }
  .el-tabs{
  }

  .el-tabs__header {
    margin: 0px 0 0 0;
    .el-tabs__item {
      height: $height-nav-scroll;
      border: none;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      +.el-tabs__item {
        border-left: 0px solid $border-color;
      }
    }
    .el-tabs__item.is-active {
      background-color: #60c968;
    }
    .el-tabs__nav {
      border: none;
    }
  }
  .el-tabs__item .el-icon-close {
    color: initial !important;
  }
  .el-tabs__item .dot {
    content: "";
    width: 9px;
    height: 9px;
    margin-right: 8px;
    display: inline-block;
    border-radius: 50%;
    transition: background-color 0.2s;
  }

  .contextmenu {
    width: 100px;
    margin: 0;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 3000;
    position: absolute;
    list-style-type: none;
    padding: 5px 0;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .contextmenu li {
    margin: 0;
    padding: 7px 16px;
  }
  .contextmenu li:hover {
    background: #f2f2f2;
    cursor: pointer;
  }
}
